/* Générale*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #f66980;
  color: #20134b;
}

a {
  color: #540b76;
  text-decoration: none;
  transition: transform 300ms ease-in-out;
}

a:hover {
  color: #453cbf;
  text-decoration: none;
  transform: scale(1.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", cursive;
}

/*Header*/
header {
  border: #7f21d6 1px solid;
  background-image: url(../Castets/img/th.jpeg);
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #380568;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  display: flex;
  justify-content: center;
  height: 50px;
}

.introduction {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  margin-left: 5%;
  margin-right: 3%;
  font-weight: 700;
}

/* navigation*/
nav {

  width: 100%;
  background-color: #ab3189;
  position: fixed;
  bottom: 0;
  height: 100px;
  overflow: hidden;


}

.bouton {
  border: #20134b 2px solid;
  border-radius: 15px;
}

.bouton div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 10px;
}

.liste_bouton {
  width: 30%;
  display: grid;
  grid-template-columns: 3fr 0fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  color: #20134b;
  padding-left: 2%;
}





/* corps de la première page*/
main {
  background: linear-gradient(180deg, #ff79da -12.44%, #9356dc 75.93%);
  background-attachment: fixed;
  background-size: cover;
  border: #7f21d6 1px solid;
  border-radius: 10px;
  color: #380568;
  margin-top: 10px;
}

.texte_intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.texte_intro p {
  margin: auto;
  padding-bottom: 3.5px;
}

.commençons {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 5%;
}